*{
    margin: 0;
    padding: 0;
}
#contenidocabecera{
    width: 100%;
    display: flex;
    border: 1px solid black;
    background-color: #67999A;

}

footer{
    width: 100%;
    height: 200px;
    border: solid black 1px;
}
#cabeceraImagenNombre{
    flex: 30%;

}
#cabeceraMenu{
    flex: 70%;

}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
border-radius: 75px;
position: relative;
z-index: 1000;
margin-bottom: 15px;
left: 1%;
background-image: url("../img/Recurso\ 8.png");
background-size: contain

}
#nombreRectangulo{
    background-color: #013334;
    width: 300px;
    padding: 25px   ;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute; 
    top: 14%;
}
ul li{
    display: inline;
    padding: 0 10px;
    border-right: solid 2px black;
}
ul li a{
    color: #550101;
    text-decoration:none;
    text-transform:uppercase;
    font-weight: bold;
}
ul li a:hover{
    color: green;
    font-size: 20px;
    text-decoration: underline dashed 2px #550101;
    background-color:aquamarine;
}
#contenidoCuerpo{
    display: flex;
    width: 100%;
    background-color: #D3EE9F;
    padding-top: 50px;
}
#logoInicio{
    background-image:url("/img/Recurso\ 7.png");
    padding: 2px 0 0 20px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#cuerpoImagen{
    flex: 40%;
}
#cuerpoDatos{
    flex: 60%;
}
#bordeImagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    width: 70%;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#detalleDatos{
    width: 70%;
    padding: 20px;
}
#botones{
    display: flex;
    margin-top: 20px;
}
#botonFavorito{
    flex: 50%;

}
#botonUbicación{
    flex: 50%;
}
#marcoFavorito{
    background-color: #cccccc;
    width: 250px;
    background-image: url(../img/Recurso\ 13.png);
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 25px 0px 25px 59px;
    background-position:left 30px center;
    border-radius: 12px;   
}
#marcoFavorito:hover{
    opacity: 60%;
    cursor: pointer;
}

