*{
    margin: 0;
    padding: 0;
}
#contenidocabecera{
    width: 100%;
    display: flex;
    border: 1px solid black;
    background-color: #67999A;

}
#contenidocuerpo{
    width: 100%;
    height: 500px;
    border: solid black 1px;
    background-color: #D3EE9F;
}
footer{
    width: 100%;
    height: 200px;
    border: solid black 1px;
}
#cabeceraImagenNombre{
    flex: 30%;

}
#cabeceraMenu{
    flex: 70%;

}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
border-radius: 75px;
position: relative;
z-index: 1000;
margin-bottom: 15px

}
#nombreRectangulo{
    background-color: #013334;
    width: 300px;
    padding: 25px   ;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute; 
    top: 14%;
}



  
